<script type="text/javascript">
    $(function() {
        var scntDiv = $('#addcards');
        var i = $('#addcards div').size() + 1;

        $('#addfields').on('click', function() {
            $('<div class="field"><h2>Card ' + i +'</h2><input id="sidea' + i +'" name="cards[][sidea]" placeholder="first name" type="text" /><input id="sideb' + i +'" name="cards[][sideb]" placeholder="last name" type="text" /></div>').appendTo(scntDiv);
            i++;
            return false;
        });


    });

</script>
<div id="addcards">
  <div class="field">
    <h2>Card 1</h2>
    <%= text_field_tag "cards[][sidea]", nil, :placeholder => "first name" %>
    <%= text_field_tag "cards[][sideb]", nil, :placeholder => "last name" %>
  </div>
</div>

<a href="#" id="addfields">Add a New Card</a><br/>